footer(id="footerblock")
    footer-row
        div(slot='footertext')
            
        div.text-center(slot='footericon')
            h6
                | We are in social media
            div#footericonblock
                i#twitter.fab.fa-twitter.fa-fw.fa-2x

                i#vimeo.fab.fa-vimeo-v.fa-fw.fa-2x

                i#linkedin.fab.fa-linkedin-in.fa-fw.fa-2x


